@import url("css/variables.css");

header {
	padding: 60px;
	padding-top: 20px;
	padding-bottom: 100px;
	text-align: center;
	color: white;
	font-size: 30px;
}

.topper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

h2 {
	text-align: left;
	margin-top: 5px;
	text-align: center;
}

main p{
	margin: 5;
	padding-bottom: 20px;
	padding-left: 8%;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	left:0;
	right: 0;
	width: 100%;
	text-align: center;
}

body, html {
	height: 100%;
	background-color: var(--yale-blue);
	color: white;
}
